This is made just for educational purposes only.
The further actions which you may try to get information from web sites might be illegal.

Code is made in python.
It have been tested several times. And works perfectly.
Also code can be upgradable to GUI level, but it's harder to make it work.
